
{% extends "bootstrap/base.html" %}
{% block title%}bored room{% endblock %}
{% block styles %}
    {{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='css/styles.css')}}">
{% endblock %}
{% block content %}
<div>
<h1>Welcome to The Bored room </h1>
<h3>This website is one that will give you suggestions on activities  you can  do when you are bored.</h3>
<p>The suggestion is for you to: </p>
</div>
    <div class="colors ">
<h3  style="background-color:{{ item}};">{{form}}.</h3>


</div>

{% endblock %}
